{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"rules": {
		"semi": "off",
		"@typescript-eslint/semi": ["warn"],
		"indent": [
			"warn",
			"tab",
			{
				"SwitchCase": 1,
				"ignoredNodes": ["ConditionalExpression"]
			}
		],
		"no-return-await": "warn",
		"no-var": "warn",
		"max-len": ["warn", { "code": 120 }],
		"quotes": ["warn", "single", { "allowTemplateLiterals": true }],
		"@next/next/no-document-import-in-page": "off",
		"@typescript-eslint/no-empty-interface": [
			"error",
			{
				"allowSingleExtends": true
			}
		]
	},
	"extends": [
		"next",
		"next/core-web-vitals",
		"eslint:recommended",
		"plugin:@next/next/recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:react-hooks/recommended"
	]
}
