@font-face {
	font-family: 'SFProDisplay Light';
	font-weight: normal;
	src: url('../../public/fonts/SFProDisplay-Light.woff') format('woff');
}

@font-face {
	font-family: 'SFProDisplay Regular';
	font-weight: normal;
	src: url('../../public/fonts/SFProDisplay-Regular.woff') format('woff');
}

@font-face {
	font-family: 'SFProDisplay Medium';
	font-weight: normal;
	src: url('../../public/fonts/SFProDisplay-Medium.woff') format('woff');
}

@font-face {
	font-family: 'SFProDisplay Semibold';
	font-weight: normal;
	src: url('../../public/fonts/SFProDisplay-Semibold.woff') format('woff');
}

@font-face {
	font-family: 'SFProDisplay Bold';
	font-weight: normal;
	src: url('../../public/fonts/SFProDisplay-Bold.woff') format('woff');
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);

	background-color: #f5f6f8;

	font-family: 'SFProDisplay Regular', sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

:root {
	--black: #3b434e;
	--gray-light: #ebebeb;
	--white: #fff;
	--primary: #7653fc;
	--primary-hover: #5033c7;
	--red: #fc836d;
	--green: #1dc37e;
	--green-light: #c8f8e4;
}
